body.default-background{
  background-color: rgb(36, 36, 110); 
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  color:aliceblue;
  overflow-x: hidden;
  height: 100%;
}

.signin-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  background-color: white;
  background-image: url('/src/assets/logo.jpg');
  background-size:48%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Limita el ancho del formulario */
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(36, 36, 110)
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 10px;
  padding: 10px;
  margin-top: 5px;
}

.logo{
  width: 250px;
  height: auto;
  
}

.main-content {
 padding: 10px;
}

.icons{
  display: flex;
  padding-left: 45px;
}

.icon{
  position: relative;
  display: inline-block;
  cursor: pointer;
  
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: "black";
  color: #fff;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form-control{
  width: 450px;
}

.form-email form-password{
  display: flex;
  align-items: center;
  justify-content: center
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: yellow;
  color:black;
  border: none;
  border-radius: 60%;
  padding: 12px;
  cursor: pointer;
  z-index: 1000; 
  font-size: 24px; 
}

.inicio{
  padding-right: 1150px;
  color: white
}

.inicio:active{
  color: black
}

.tittle {
  padding-top: 20px;
 
}

h1{
  color: white
}


.emailcontacto{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.emailcontacto .tooltiptextemailcontacto {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posición encima del ícono */
  left: 85%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 20px;
  font-weight: normal;
}

.emailcontacto:hover .tooltiptextemailcontacto {
  visibility: visible;
  opacity: 1;
}



.iconcontacto{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.iconcontacto .tooltiptextcontacto {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%; 
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 20px;
  font-weight: normal;
}

.iconcontacto:hover .tooltiptextcontacto {
  visibility: visible;
  opacity: 1;
}