html,body{
  background-color: rgb(36, 36, 110);
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  color:aliceblue;
  overflow-x: hidden;
  height: 100%;
}

.logo{
  width: 250px;
  height: auto;
  
}

.main-content {
 padding: 10px;
}

.icons{
  display: flex;
  padding-left: 45px;
}

.icon{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posición encima del ícono */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}